---
layout: null
---

<ul>
      {% if site.classes.size > 0 %}
        {% assign sorted_classes = site.classes | sort: 'title' %}
        {% for item in sorted_classes %}
          <li>
            <a href="{{ item.url | relative_url }}">{{ item.title | default: item.slug }}</a>
            {% if item.description %}
              <div class="meta">{{ item.description }}</div>
            {% endif %}
          </li>
        {% endfor %}
      {% else %}
        <li><em>No class sites dropped here yet. Add files to the _classes folder!</em></li>
      {% endif %}
    </ul>